* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v6_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v8_0 {
    width: 219px;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 70px;
    overflow: hidden;
  }
  .v6_4 {
    width: 219px;
    height: 76px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v6_6 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 70px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v6_7 {
    width: 100%;
    color: rgba(101,188,151,1);
    position: absolute;
    top: 154px;
    left: 202px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v10_1 {
    width: 100%;
    height: 72px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 204px;
    overflow: hidden;
  }
  .v11_0 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_0.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_1 {
    width: 74px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_2 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .v11_3 {
    width: 89px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_4 {
    width: 182px;
    height: 72px;
    background: url("../images/v11_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 665px;
    overflow: hidden;
  }
  .v11_5 {
    width: 89px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_6 {
    width: 186px;
    height: 72px;
    background: url("../images/v11_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 847px;
    overflow: hidden;
  }
  .v11_7 {
    width: 117px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_8 {
    width: 189px;
    height: 72px;
    background: url("../images/v11_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .v11_9 {
    width: 89px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_11 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_12 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_13 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .v11_14 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v12_4 {
    width: 110px;
    height: 40px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 36px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v11_15 {
    width: 182px;
    height: 72px;
    background: url("../images/v11_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 665px;
    overflow: hidden;
  }
  .v11_16 {
    width: 182px;
    color: rgba(0,0,0,1);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_17 {
    width: 186px;
    height: 72px;
    background: url("../images/v11_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 847px;
    overflow: hidden;
  }
  .v12_5 {
    width: 110px;
    height: 40px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 36px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v11_18 {
    width: 186px;
    color: rgba(0,0,0,1);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_19 {
    width: 189px;
    height: 72px;
    background: url("../images/v11_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .v11_20 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .book_row {
    width: 100%;
    height: 72px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: relative;
    left: 204px;
    overflow: hidden;
  }
  .v11_22 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_23 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_24 {
    width: 238px;
    height: 72px;
    background: url("../images/v11_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .v11_25 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_26 {
    width: 182px;
    height: 72px;
    background: url("../images/v11_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 665px;
    overflow: hidden;
  }
  .v12_2 {
    width: 110px;
    height: 40px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 36px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v11_27 {
    width: 181px;
    color: rgba(0,0,0,1);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_28 {
    width: 186px;
    height: 72px;
    background: url("../images/v11_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 847px;
    overflow: hidden;
  }
  .v12_3 {
    width: 110px;
    height: 40px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 36px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v11_29 {
    width: 186px;
    color: rgba(0,0,0,1);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_30 {
    width: 189px;
    height: 72px;
    background: url("../images/v11_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .v11_31 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }

  .book_table {
    position: absolute;
    top: 300px;
    width: 100%;
  }
  