* {
    overflow-x: hidden; 
  }
  .book_list_page {
    width: 100%;
    height: auto;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_back_row {
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 55px;
    left: 70px;
    overflow: hidden;
  }
  .book_list_back_bubble {
    width: 219px;
    height: 76px;
    background: rgba(64,154,116,1);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .book_list_title {
    width: 100%;
    color: rgba(101,188,151,1);
    position: relative;
    top: 50px;
    left: 200px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .book_list_headings {
    width: 100%;
    height: 72px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 185px;
    overflow: hidden;
  }
  .book_list_title_header {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_course_header {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .book_list_purchase_header {
    width: 182px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 665px;
    overflow: hidden;
  }
  .book_list_rent_header {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 847px;
    overflow: hidden;
  }
  .book_list_quantity_header {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 983px;
    overflow: hidden;
  }
  .book_list_isbn_header {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1169px;
    overflow: hidden;
  }
  .book_list_header_text {
    width: 250px;
    color: rgba(96,96,96,1);
    position: absolute;
    top: 36px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .book_list_seller_header {
    width: 189px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .book_list_row_text {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .book_list_row {
    width: 100%;
    height: 72px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: relative;
    left: 100px;
    overflow: hidden;
  }
  .book_list_row_title {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_row_course {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .book_list_row_seller {
    width: 189px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .book_list_row_purchase {
    width: 182px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 665px;
    overflow: hidden;
  }
  .book_list_row_rent {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 847px;
    overflow: hidden;
  }
  .book_list_row_quantity {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1020px;
    overflow: hidden;
  }
  .book_list_row_isbn {
    width: 186px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1180px;
    overflow: hidden;
  }
  .book_list_table {
    position: relative;
    width: 100%;
  }
  .book_list_buy_rent_sort {
    height: auto;
    width: auto;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 20px;
    left: 50px;
    overflow: hidden;
  }
  .book_list_buy_form {
    height: 300px;
    width: 400px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 55px;
    left: 50px;
    overflow: hidden;
    float:left;
  }
  .book_list_sort_buttons {
    height: 300px;
    width: 400px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 55px;
    left: 50px;
    overflow: hidden;
    float:left;
  }
  .book_list_rent_form {
    height: 300px;
    width: 400px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 55px;
    left: 50px;
    overflow: hidden;
    float:left;
  }
  .book_list_buy_bubble {
    width: 219px;
    height: 76px;
    background: rgba(64,154,116,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .book_list_button_text {
    width: 60px;
    color: rgba(255,255,255,1);
    position: relative;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .book_list_rent_bubble {
    width: 219px;
    height: 76px;
    background: rgba(64,154,116,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .book_list_buy_input_box {
    width: 361px;
    height: 216px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .book_list_rent_input_box {
    width: 361px;
    height: 416px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .book_list_input_row {
    width: 361px;
    height: 72px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_input_text {
    width: 358px;
    position: static;
    top: 0px;
    left: 20px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .book_list_sort_ascending {
    width: 300px;
    height: 76px;
    background: rgba(64,154,116,1);
    opacity: 1;
    position: relative;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .book_list_sort_descending {
    width: 300px;
    height: 76px;
    background: rgba(64,154,116,1);
    opacity: 1;
    position: relative;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
  }

  .book_list_average_table {
    position: relative;
    width: 100%;
  }
  .book_list_average_headings {
    width: 100%;
    height: 72px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 185px;
    overflow: hidden;
  }
  .book_list_average_course_header {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_average_purchase_header {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .book_list_average_rent_header {
    width: 189px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }
  .book_list_average_row {
    width: 100%;
    height: 72px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: relative;
    left: 100px;
    overflow: hidden;
  }
  .book_list_average_row_course {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .book_list_average_row_purchase {
    width: 238px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 238px;
    overflow: hidden;
  }
  .book_list_average_row_rent {
    width: 189px;
    height: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 476px;
    overflow: hidden;
  }