* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.homepage_buy_bubble {
  width: 219px;
  height: 76px;
  text-align:center;
  background: rgba(64,154,116,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 100px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  overflow: hidden;
}
.homepage_contact_list_bubble {
  width: 219px;
  height: 76px;
  text-align:center;
  background: rgba(64,154,116,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 450px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  overflow: hidden;
}
.homepage_best_sellers_bubble {
  width: 219px;
  height: 76px;
  text-align:center;
  background: rgba(64,154,116,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 800px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  overflow: hidden;
}
.homepage_sell_bubble {
  width: 219px;
  height: 76px;
  text-align:center;
  background: rgba(64,154,116,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 1150px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  overflow: hidden;
}
.homepage_bubble_text {
  width: 60px;
  top: 13px;
  margin: 0 auto;
  color: rgba(255,255,255,1);
  position: relative;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  margin: auto;
}
.homepage_signed_in_title {
  width: 100%;
  color: rgba(101,188,151,1);
  position: absolute;
  top: 55px;
  left: 202px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}

