* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v1_5 {
    width: 100%;
    height: 1024px;
    background: url("../images/Textbooks.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_4 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_6 {
    width: 219px;
    height: 76px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 1147px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v4_2 {
    width: 219px;
    height: 76px;
    background: rgba(101,188,151,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 70px;
    border-top-left-radius: 59px;
    border-top-right-radius: 59px;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    overflow: hidden;
  }
  .v4_0 {
    width: 130px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 72px;
    left: 1203px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v4_1 {
    width: 123px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 72px;
    left: 118px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v4_4 {
    width: 100%;
    color: rgba(101,188,151,1);
    position: absolute;
    top: 191px;
    left: 211px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v4_10 {
    width: 625px;
    height: 447px;
    background: url("../images/Textbooks.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 407px;
    overflow: hidden;
  }
  