<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/bookList.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<div class="v6_2">

			<div class="v8_0">
				<div class="v6_4"></div>
				<span class="v6_6">
					<a href="/showHomepageSignedIn">Back</a>
				</span>
            </div>
            
            <span class="v6_7">Book Your Book</span>
			
			<div class="book_table">
				<div class="v10_1">
					<div class="v11_0">
						<span class="v11_1">Title</span>
					</div>
					<div class="v11_2">
						<span class="v11_3">Course</span>
					</div>
					<div class="v11_8">
						<span class="v11_9">Seller</span>
					</div>
					<div class="v11_4">
						<span class="v11_5">Rent</span>
					</div>
					<div class="v11_6">
						<span class="v11_7">Purchase</span>
					</div>
				</div>

				<ol> 
					{%for i in range(0, lenBooks)%}
						<li>
							<div class="book_row">
								<div class="v11_11">
									<span class="v11_12">{{book_names[i]}}</span>
								</div>
								<div class="v11_13">
									<span class="v11_14">{{course_ids[i]}}</span>
								</div>
								<div class="v11_19">
									<span class="v11_20">{{seller_ids[i]}}</span>
								</div>
								<div class="v11_15">
									<div class="v12_4"></div>
									<span class="v11_16">{{purchase_prices[i]}}</span>
								</div>
								<div class="v11_17">
									<div class="v12_5"></div>
									<span class="v11_18">{{rental_prices[i]}}</span>
								</div>
							</div>
						</li> 
					{%endfor%}
					  
				</ol> 
			
			</div>
            
		</div>
	</body>
</html>