<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/bookList.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<div class="book_list_page">

			<div class="book_list_back_row">
				<button class="book_list_back_bubble">
					<span class="book_list_button_text">
						<a href="/showHomepageSignedIn">Back</a>
					</span>
				</button>
            </div>
            
            <span class="book_list_title">Book Your Book</span>
			
			<div class="book_list_buy_rent_sort">
				<form action="/buy" method="POST" class="book_list_buy_form">
					<div class="book_list_buy_input_box">
						<div class="book_list_input_row">
							<span class="book_list_input_text">ISBN:</span>
							<input type="number" name="inputIsbn" id="inputIsbn" class="form-buy" placeholder="ISBN" required autofocus>
						</div>
					</div>
					<button type="submit" id="btnBuy" class="book_list_buy_bubble">
						<span class="book_list_button_text">Buy</span>
					</button>
				</form>

				<div class="book_list_sort_buttons">
					<button class="book_list_sort_ascending">
						<span class="book_list_button_text">
							<a href="/sortAsc">Sort Ascending</a>
						</span>
					</button>
					<button class="book_list_sort_descending">
						<span class="book_list_button_text">
							<a href="/sortDesc">Sort Descending</a>
						</span>
					</button>
				</div>

				<form action="/rent" method="POST" class="book_list_rent_form">
					<div class="book_list_rent_input_box">
						<div class="book_list_input_row">
							<span class="book_list_input_text">ISBN:</span>
							<input type="number" name="inputIsbn" id="inputIsbn" class="form-rent" placeholder="ISBN" required autofocus>
						</div>
						<div class="book_list_input_row">
							<span class="book_list_input_text">Rental end date:</span>
							<input type="date" name="inputEndDate" id="inputEndDate" class="form-rent" placeholder="Date" required autofocus>
						</div>
					</div>
					<button type="submit" id="btnRent" class="book_list_rent_bubble">
						<span class="book_list_button_text">Rent</span>
					</button>
				</form>
			</div>

			<div class="book_list_table">
				<div class="book_list_headings">
					<div class="book_list_title_header">
						<span class="book_list_header_text">Title</span>
					</div>
					<div class="book_list_course_header">
						<span class="book_list_header_text">Course</span>
					</div>
					<div class="book_list_seller_header">
						<span class="book_list_header_text">Seller</span>
					</div>
					<div class="book_list_purchase_header">
						<span class="book_list_header_text">Purchase</span>
					</div>
					<div class="book_list_rent_header">
						<span class="book_list_header_text">Rent</span>
					</div>
					<div class="book_list_quantity_header">
						<span class="book_list_header_text">Quantity</span>
					</div>
					<div class="book_list_isbn_header">
						<span class="book_list_header_text">ISBN</span>
					</div>
				</div>

				<ol> 
					{%for i in range(0, lenBooks)%}
						<li>
							<div class="book_list_row">
								<div class="book_list_row_title">
									<span class="book_list_row_text">{{book_names[i]}}</span>
								</div>
								<div class="book_list_row_course">
									<span class="book_list_row_text">{{course_ids[i]}}</span>
								</div>
								<div class="book_list_row_seller">
									<span class="book_list_row_text">{{seller_ids[i]}}</span>
								</div>
								<div class="book_list_row_purchase">
									<span class="book_list_row_text">${{purchase_prices[i]}}</span>
								</div>
								<div class="book_list_row_rent">
									<span class="book_list_row_text">${{rental_prices[i]}}</span>
								</div>
								<div class="book_list_row_quantity">
									<span class="book_list_row_text">{{quantities[i]}}</span>
								</div>
								<div class="book_list_row_isbn">
									<span class="book_list_row_text">{{isbns[i]}}</span>
								</div>
							</div>
						</li> 
					{%endfor%}
					  
				</ol> 
			
			</div>

			<div class="book_list_average_table">
				<div class="book_list_average_headings">
					<div class="book_list_average_course_header">
						<span class="book_list_header_text">Course</span>
					</div>
					<div class="book_list_average_purchase_header">
						<span class="book_list_header_text">Average Purchase Price</span>
					</div>
					<div class="book_list_average_rent_header">
						<span class="book_list_header_text">Average Rent Price</span>
					</div>
				</div>

				<ol> 
					{%for i in range(0, lenCourses)%}
						<li>
							<div class="book_list_average_row">
								<div class="book_list_average_row_course">
									<span class="book_list_row_text">{{courseNames[i]}}</span>
								</div>
								<div class="book_list_average_row_purchase">
									<span class="book_list_row_text">${{avgPP[i]}}</span>
								</div>
								<div class="book_list_average_row_rent">
									<span class="book_list_row_text">${{avgRP[i]}}</span>
								</div>
							</div>
						</li> 
					{%endfor%}
					  
				</ol> 
			
			</div>
            
		</div>
	</body>
</html>