<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/bookList.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<div class="v6_2">

			<div class="v8_0">
				<div class="v6_4"></div>
				<span class="v6_6">
					<a href="/showHomepageSignedIn">Back</a>
				</span>
            </div>
            
            <span class="v6_7">Book Your Book</span>
			
			<div class="book_list_table">
				<div class="book_list_headings">
					<div class="v11_0">
						<span class="v11_1">Title</span>
					</div>
					<div class="v11_2">
						<span class="v11_3">Course</span>
					</div>
					<div class="v11_8">
						<span class="v11_9">Seller</span>
					</div>
					<div class="v11_4">
						<span class="v11_5">Rent</span>
					</div>
					<div class="v11_6">
						<span class="v11_7">Purchase</span>
					</div>
					<div class="book_list_isbn_header">
						<span class="v11_7">ISBN</span>
					</div>
				</div>

				<ol> 
					{%for i in range(0, lenBooks)%}
						<li>
							<div class="book_list_row">
								<div class="v11_11">
									<span class="v11_12">{{book_names[i]}}</span>
								</div>
								<div class="v11_13">
									<span class="v11_14">{{course_ids[i]}}</span>
								</div>
								<div class="v11_19">
									<span class="v11_20">{{seller_ids[i]}}</span>
								</div>
								<div class="v11_15">
									<!-- <div class="v12_4"></div> -->
									<span class="v11_16">${{purchase_prices[i]}}</span>
								</div>
								<div class="v11_17">
									<!-- <div class="v12_5"></div> -->
									<span class="v11_18">${{rental_prices[i]}}</span>
								</div>
								<div class="book_list_isbn_box">
									<span class="book_list_isbn">{{isbns[i]}}</span>
								</div>
							</div>
						</li> 
					{%endfor%}
					  
				</ol> 
			
			</div>

			<form action="/buy" method="POST">
				<div class="book_list_buy_input_box">
					<div class="book_list_input_row">
						<span class="book_list_input_text">ISBN:</span>
						<input type="number" name="inputIsbn" id="inputIsbn" class="form-buy" placeholder="ISBN" required autofocus>
					</div>
				</div>
				<button type="submit" id="btnBuy" class="book_list_buy_bubble">
					<span class="book_list_buy_text">Buy</span>
				</button>
			</form>

			<form action="/rent" method="POST">
				<div class="book_list_rent_input_box">
					<div class="book_list_input_row">
						<span class="book_list_input_text">ISBN:</span>
						<input type="number" name="inputIsbn" id="inputIsbn" class="form-rent" placeholder="ISBN" required autofocus>
					</div>
					<div class="book_list_input_row">
						<span class="book_list_input_text">Rental end date:</span>
						<input type="date" name="inputEndDate" id="inputEndDate" class="form-rent" placeholder="Date" required autofocus>
					</div>
				</div>
				<button type="submit" id="btnRent" class="book_list_rent_bubble">
					<span class="book_list_rent_text">Rent</span>
				</button>
			</form>
            
		</div>
	</body>
</html>