<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/homepageSignedIn.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<span class="homepage_signed_in_title">Book Your Book</span>
			<div class="homepage_buy_bubble">
				<span class="homepage_bubble_text">
					<a href = "/showBookList">Buy/Rent</a>
				</span>
			</div>
			<div class="homepage_sell_bubble">
				<span class="homepage_bubble_text">
					<a href = "/sell">Sell</a>
				</span>
			</div>
		</div>
	</body>
</html>