<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="../static/homepage.css" rel="stylesheet" />
    <title>Homepage</title>
</head>

<body>
    <div class="v1_5">
        <div class="v1_4">
            <div class="v1_6">
            </div>

            <div class="v4_2">
            </div>

            <span class="v4_0">
                <a href="/showSignIn">Sign In</a>
            </span>
            <span class="v4_1">
                <a href="/showSignUp">Sign Up</a>
            </span>
            <span class="v4_4">
                Book Your Book
            </span>

            <div class="v4_10">
            </div>
        </div>
    </div>
</body>

</html>