<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/homepageSignedIn.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<div class="v5_5">
			<div class="v5_6"></div>
			<div class="v5_7"></div>
            <div class="v5_12"></div>
            
			<span class="v5_9">
                <a href = "/showBookList">Buy</a>
            </span>
            <span class="v5_13">
                <a href = "/showBookList">Rent</a>
            </span>
			<span class="v5_8">Sell</span>
            
			<span class="v5_10">Book Your Book</span>
			<div class="v5_11"></div>
		</div>
	</body>
</html>