<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/signin.css" rel="stylesheet" />
		<title>Document</title>
  </head>
  
	<body>
		<div class="v13_4">
			<div class="v13_5">
				<div class="v13_6"></div>
				<span class="v13_7">
                    <a href="/">Back</a>
                </span>
            </div>
            
			<span class="v13_8">Book Your Book</span>
			
            <form action="/signIn" method="POST">
				<div class="v14_0">
					<div class="v14_4">
						<span class="v14_13">Email:</span>
						<input type="email" name="inputEmail" id="inputEmail" class="form-signin" placeholder="Email" required>
					</div>
					<div class="v14_12">
						<span class="v14_5">Password:</span>
						<input type="password" name="inputPassword" id="inputPassword" class="form-signin" placeholder="Password" required>
					</div>
				</div>
				<button type="submit" id="btnSignIn" class="button-signin">
					<span class="button-signin-text">Sign in</span>
				</button>
			</form>	
			
		</div>
  </body>
  
</html>