<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
		<link href="../static/signup.css" rel="stylesheet" />
		<title>Document</title>
  </head>
  
	<body>
		<div class="v13_4">
			<div class="v13_5">
				<div class="v13_6"></div>
				<span class="v13_7">
                    <a href="/">Back</a>
                </span>
            </div>
            
            <span class="v13_8">Book Your Book</span>
            
			<div class="v14_0">
                <form action="/signUp" method="POST"></form>
					<div class="v13_10">
						<span class="v13_11">Name:</span>
						<input type="name" name="inputName" id="inputName" class="form-signin" placeholder="Name" required autofocus>
					</div>
					<div class="v14_4">
						<span class="v14_13">Email:</span>
						<input type="email" name="inputEmail" id="inputEmail" class="form-signin" placeholder="Email" required>
					</div>
					<div class="v14_12">
						<span class="v14_5">Password:</span>
						<input type="password" name="inputPassword" id="inputPassword" class="form-signin" placeholder="Password" required>
					</div>
				</form>
				
            </div>
			<button id="btnSignUp" class="button-signup" type="button">
				<span class="button-signup-text">
					<a href="/signUp">Sign up</a>
				</span>
			</button>
            
		</div>
  </body>
  
</html>